# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\RedaB\Desktop\School\2de TI Bachelor\Webontwikkeling 4\Opdrachten 2020-2021\Deekopdracht1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
